body {
    font-family: Arial, sans-serif;
    margin: 0rem;
    padding: 0;
    background-color: #bdb2e9;
    transition: background-color 0.5s;
}
 
.sidebar {
    background-color: #43208b;
    padding: 8px;
    border-radius: 3px;   
}

.sidebar a {
    margin-right: 80px;
    font-size: 25px;
    text-decoration: none;
    color: #a6a9e8;
}


.sidebar a:hover{
    color: #020202;
}
.name h3{
    font-size: 2.8rem;
    margin-top: -2.2rem;
    
}


.navnav img{
    height: 30px;
    width: 30px;
    margin-right: 20rem; 
    border-radius: 50%;  
}










.Proj h1{
    text-align: left;
    padding-left: 59px;
    color: #8e2fc2;
    font-size: 3.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading h3{
    text-align: left;
    padding-left: 30px;
    font-size: 25px;  
}


.heading .content-paragraph {
    text-align: left;
    padding-left: 37px;
    font-size: 20px;  
    border-bottom: 2px solid #9c9494;
    margin-bottom: 10opx; /* Add margin to create space between the paragraph and the line */
    width: 89%;
}
